@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#company-name {
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:bold;
  /* font-family: "Audiowide", sans-serif; */
  /* font-family: "Plus Jakarta Sans", sans-serif; */
}

@keyframes fadeInNode {
  0% {
    opacity: 0;
    scale: 0.8; /* Apply scaling only */
  }
  100% {
    opacity: 1;
    scale: 1; /* End with original scale */
  }
}

.fade-in-node {
  animation: fadeInNode 1.9s ease-in-out forwards;
}

@media (max-width: 768px) {
  .mobile-height {
    height: 500px !important; /* Override the height on mobile */
  }
}
